<div class="flex bg-smoke-white animated fadeIn fixed z-50 pin overflow-auto" id="modal">
  <div class="flex flex-col animated fadeInUp fixed max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center p-8 md:rounded w-full md:h-auto">
    <%= content_for :modal_content %>
  </div>
</div>