<h1>Welcome to your laundry-room</h1><br>
<h4>Book, change and communicate about your laundry time<h4><br>
<button><%= link_to 'Sign-up', new_user_registration_path, id: "btn", class: "bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 m-6 rounded content-center" %></button>