.masthead {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background:     
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),    
      image_url("mintvatt.jpg");
    background-position: center center;
    background-size: cover;
  }

.heading {
    margin-top: 15vh;
    color: white;
    background: rgba(0,0,0,0.5);
    size: 7rem;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
}

.paragraph {
    color: white;
    font-size: 4rem;
    width: 40vw;
    text-align: center;
    margin: 30px auto;
}

.sign-up {
    font-size: 1.5rem;  
    width: 8vw;
    margin: 50px auto;
    display: block;
    text-decoration: none;
}